@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Mega:wght@800&family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --font-title: 'Lexend Mega', sans-serif;
    --font-text: 'Nunito', sans-serif;
    --font-header: 'Lexend', sans-serif;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    padding: 1em 4%;
}

header nav img {
    height: 60px;
    width: 90px;
}

header nav div{
    display: flex;
}

header nav div a{
    text-decoration: none;
    color: #000000;
    font-family: var(--font-header);
    font-size: 1em;
    margin-left: 2rem;
}

header nav div a:hover{
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
}

main .container-main .intro{
    display: flex;
    flex-direction: column;
    align-items: start;
    background: #DDB2FF;

    text-align: left;

    padding: 2rem 8% 2rem;
}

main .container-main .intro .title-main{
    font-family: var(--font-title);
    font-size: 10em;
    letter-spacing: -0.1em;
}

main .container-main .intro p{
    font-family: var(--font-text);
    font-size: 1.5em;
    padding: 0 1rem;
    width: 60%;
}

main .container-main .intro button{
    margin: 2rem 0.8rem;
    padding: 1rem 1.5rem;
    width: fit-content;
    height: auto;
    font-family: var(--font-text);
    font-size: 1.1em;
}