@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Mega:wght@800&family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --font-title: 'Lexend Mega', sans-serif;
    --font-text: 'Nunito', sans-serif;
    --font-header: 'Lexend', sans-serif;

    --standard-shadow: 4px 4px black;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    padding: 1.5em 4%;
}

header nav img {
    height: 60px;
    width: 90px;
}

header nav div{
    display: flex;
}

header nav div a{
    text-decoration: none;
    color: #000000;
    font-family: var(--font-header);
    font-size: 1em;
    margin-left: 2rem;
}

header nav div a:hover{
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
}

main .container-main {
    background: #FAF5F2;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    bottom: -100%;
}

.description {
    margin: 0 4% 0.5em 4%;
    font-family: var(--font-text);
    font-size: 1.3em;
}

.title{
    font-family: var(--font-title);
    color: #000000;
    background: #FF9FD9;
    width: fit-content;
    margin-bottom: 0.5em;
    border: 2px solid black;
    border-radius: 0 0 16px 16px;
    box-shadow: var(--standard-shadow);
    padding: 0.5em 1em;
}

.tabContainer{
    width: 92%;
    height: 350px;
    margin: auto;
    box-sizing: border-box;
    bottom: 0px;
}

.tabContainer .buttonContainer{
    height: 15%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: var(--standard-shadow);
}

.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    outline: none;
    cursor: pointer;
    padding: 8px;
    font-family: var(--font-title);
    font-size: 20px;
    letter-spacing: -1.8px;
}

.tabContainer .buttonContainer #buttonFirst{
    background-color: #E5FEFF;
}

.tabContainer .buttonContainer #buttonSecond{
    background-color: #FFF9E5;
}

.tabContainer .buttonContainer #buttonThird{
    background-color: #99FF99;
}

.tabContainer .buttonContainer #buttonFourth{
    background-color: #F199FF;
}

.tabContainer .contentContainer {
    box-sizing: border-box;
    display: grid;
}

.tabContainer .tabPanel{
    height: auto;
    background-color: gray;
    color: #000000;
    text-align: center;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1em;
    display: none;
    padding: 2.5em 2em;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: var(--standard-shadow);
}

.semestresObrigatorias {
    display: grid;
    grid-template-columns: repeat(3);
    grid-template-rows: repeat(3);
    grid-column-gap: 32px;
    grid-row-gap: 20px;
}

.semestresObrigatorias .termContainer {
    background: #E5FEFF;
    box-shadow: var(--standard-shadow);
    overflow: hidden;
}

#primeiroSemestre { grid-area: 1 / 1 / 2 / 2; display: block; text-align: left;}
#segundoSemestre { grid-area: 1 / 2 / 2 / 3; display: block; text-align: left;}
#terceiroSemestre { grid-area: 1 / 3 / 2 / 4; display: block; text-align: left;}
#quartoSemestre { grid-area: 2 / 1 / 3 / 2; display: block; text-align: left;}
#quintoSemestre { grid-area: 2 / 2 / 3 / 3; display: block; text-align: left;}
#sextoSemestre { grid-area: 2 / 3 / 3 / 4; display: block; text-align: left;}
#setimoSemestre { grid-area: 3 / 1 / 4 / 2; display: block; text-align: left;}
#oitavoSemestre { grid-area: 3 / 2 / 4 / 3; display: block; text-align: left;}
#nonoSemestre { grid-area: 3 / 3 / 4 / 4; display: none; text-align: left;}

.semestreHeaderObrigatorias {
    text-align: center;
    width: 100%;
    padding: 0.5em;
    background-color: #99FAFF;
    border-bottom: black 2px solid;
    font-family: var(--font-title);
    font-size: 20px;
}

.semestresEletivas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 20px;
}

.semestresEletivas .termContainer {
    background: #FFF9E5;
    box-shadow: var(--standard-shadow);
    overflow: hidden;
}

#quartoSemestreEletivas { grid-area: 1 / 1 / 2 / 2; display: block; text-align: left;}
#quintoSemestreEletivas { grid-area: 1 / 2 / 2 / 3; display: block; text-align: left;}

.semestreHeaderEletivas {
    text-align: center;
    width: 100%;
    padding: 0.5em;
    background-color: #FFDCC3;
    border-bottom: black 2px solid;
    font-family: var(--font-title);
    font-size: 20px;
}

.termContainer {
    border: black 2px solid;
    border-radius: 16px;
}

.semestreInputs {
    width: 80%;
    margin: 1.5em auto;
    font-family: var(--font-text);
    font-size: 0.9em;
}

#submitCheckboxes {
    width: 100px;
    text-align: center;
    margin: 2em auto;
    display: flex;
    justify-content: center;
}
