@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Mega:wght@800&family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-title: 'Lexend Mega', sans-serif;
    --font-text: 'Nunito', sans-serif;
    --font-header: 'Lexend', sans-serif;
}

header .container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 25px 40px 0px 40px;
}

header .container-header nav a{
    padding-left: 53px;
    text-decoration: none;
    color: black;
    font-family: var(--font-header);
    font-size: 1em;
}

header .container-header nav a:hover{
    cursor: pointer;
    text-decoration: underline;
}

header .container-header img {
    height: 60px;
    width: 90px;
}

main .container-main1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: 600px;
    height: 400px;

    padding: 28px 40px 0px 40px;
}

main .container-main1 h2{
    padding-bottom: 28px;
    font-family: var(--font-title);
}

main .container-main1 a{
    color: black;
}

main .container-main1 a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

main .container-main1 .card{
    border-radius: 15px;
    border: 3px solid rgb(0, 0, 0);
}

main .container-main1 .card img{
    border-radius: 15px;
}

main .container-main2{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;

    padding: 0px 40px;

    width: 900px;
    height: 565px;
}

main .container-main2 .card{
    width: 200px;

    border-radius: 15px;
    border: 3px solid rgb(0, 0, 0);
}

main .container-main2 .card img{
    border-radius: 15px;
}
