@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Mega:wght@800&family=Nunito&display=swap');

:root{
    --font-title: 'Lexend Mega', sans-serif;
    --font-text: 'Nunito', sans-serif;
    --font-header: 'Lexend', sans-serif;
}

header .container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 25px 40px 0px 40px;
}

header .container-header nav a{
    padding-left: 53px;
    text-decoration: none;
    color: black;
    font-family: var(--font-header);
    font-size: 32px;
}

header .container-header nav a:hover{
    cursor: pointer;
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

#submitCheckboxes {
    margin-top: 30px;
}

#accordion {
    width: 50%;
    margin: auto;
}