@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Mega:wght@800&family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-title: 'Lexend Mega', sans-serif;
    --font-text: 'Nunito', sans-serif;
    --font-header: 'Lexend', sans-serif;
}

header .container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 25px 4%;
}

header .container-header img {
    height: 40px;
    width: 60px;
}

header .container-header nav a{
    padding-left: 53px;
    text-decoration: none;
    color: black;
    font-family: var(--font-header);
    font-size: 1em;
}

header .container-header nav a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.panel .panel-heading {
    background: #FFBFC3;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: verdana
}

.panel .panel-heading:hover {
    background: grey;
    color: white;
}

.title{
    font-family: var(--font-title);
    color: #dc2d5e;
    margin-left: 4%;
    margin-left: 4%;
    width: fit-content;
}

.tabContainer{
    width: 92%;
    height: 350px;
    margin: auto;
}

.tabContainer .buttonContainer{
    height: 15%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 4px 4px black;
}

.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    outline:none;
    cursor: pointer;
    padding: 8px;
    font-family: var(--font-title);
    font-size: 20px;
    background-color: #eee;
}

.tabContainer .buttonContainer button:hover{
    background-color: #d7d4d4;
}

.tabContainer .tabPanel{
    height: auto;
    background-color: gray;
    color: #000000;
    text-align: center;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1em;
    display: none;
    padding: 1em;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 4px 4px black;
}

.semestresObrigatorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 20px;
}

#primeiroSemestre { grid-area: 1 / 1 / 2 / 2; display: block; text-align: left;}
#segundoSemestre { grid-area: 1 / 2 / 2 / 3; display: block; text-align: left;}
#terceiroSemestre { grid-area: 1 / 3 / 2 / 4; display: block; text-align: left;}
#quartoSemestre { grid-area: 2 / 1 / 3 / 2; display: block; text-align: left;}
#quintoSemestre { grid-area: 2 / 2 / 3 / 3; display: block; text-align: left;}
#sextoSemestre { grid-area: 2 / 3 / 3 / 4; display: block; text-align: left;}
#setimoSemestre { grid-area: 3 / 1 / 4 / 2; display: block; text-align: left;}
#oitavoSemestre { grid-area: 3 / 2 / 4 / 3; display: block; text-align: left;}
#nonoSemestre { grid-area: 3 / 3 / 4 / 4; display: none; text-align: left;}

.semestresEletivas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 20px;
}

#quartoSemestreEletivas { grid-area: 1 / 1 / 2 / 2; display: block; text-align: left;}
#quintoSemestreEletivas { grid-area: 1 / 2 / 2 / 3; display: block; text-align: left;}

.semestreHeaderObrigatorias {
    text-align: center;
    width: 80%;
    margin: 1.5em auto;
    padding: 1em;
    background-color: #FFBFC3;
    border: solid 2px black;
    border-radius: 16px;
    box-shadow: 4px 4px black
}

.semestreHeaderEletivas {
    text-align: center;
    width: 80%;
    margin: 1.5em auto;
    padding: 1em;
    background-color: #FFDCC3;
    border: solid 2px black;
    border-radius: 16px;
    box-shadow: 4px 4px black
}

.semestresObrigatorias .semestreInputs {
    width: 80%;
    margin: auto;
}